<div class="col-md-1"></div>
<div class="col-md-10">
  <div class="card">
    <div class="header">
      <h4 class="title">Ajouter un organisme</h4>
    </div>
    <div class="content">
      <form>
        <div class="form-group">
          <label>Organisme</label>
          <input type="text" class="form-control border-input" placeholder="Nom de l'organisme"
                 [(ngModel)]="organisme.label" name="organismename">
        </div>
        <div class="form-group">
          <label>Type</label>
          <ng-select [items]="types"
                     bindLabel="label"
                     bindValue="id"
                     [(ngModel)]="organisme.type_organisme_id"
                     name="type_organisme">
          </ng-select>
        </div>
        <div style="text-align: center" class="form-group">
          <button class="btn btn-success" [disabled]="invalidForm()" (click)="saveOrganisme()">Enregistrer</button>
        </div>
      </form>
    </div>
  </div>
</div>
