/* You can add global styles to this file, and also import other style files */
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/list/main.css';
@import '~@fullcalendar/resource-timeline/main.css';
@import '~@fullcalendar/timeline/main.css';

.paging_simple_numbers{
  text-align: right;
}

.dataTables_filter{
  text-align: right;
}
#example_filter>label{
  text-align: left;
}

