<div class="container-fluid">
  <h2>Salles</h2>
  <div class="card" style="min-height: 120px">
    <div class="header">
      <h4 class="title col-sm-8">Toutes les Salles</h4>
      <div class="col-sm-4" style="text-align: right">
        <button class="btn btn-success" routerLink="add">Ajouter une salle</button>
      </div>
    </div>
    <div class="content" style="margin-top: 50px">
      <table id="rooms-table" class="display table table-striped rooms-table" style="width:100%; text-align: left ">
        <thead>
        <tr>
          <th>#</th>
          <th>Salle N°</th>
          <th>Capacité</th>
          <th>Projecteur</th>
          <th>Type</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let salle of salles; let i=index">
          <td>{{salle.id}}</td>
          <td *ngIf="!editSalles[i]">{{salle.number}}</td>
          <td *ngIf="!editSalles[i]">{{salle.capacity}}</td>
          <td *ngIf="!editSalles[i]">
            <div class="label"
                 [ngClass]="{'label-success':salle.has_projector, 'label-danger':!salle.has_projector}">
              {{salle.has_projector ? 'Disponible' : 'Non Disponible'}}
            </div>
          </td>
          <td *ngIf="!editSalles[i]">{{salle.type.label}}</td>
          <td *ngIf="!editSalles[i]">
            <button class="ti-pencil btn btn-info" style="margin-right: 10px;" (click)="switchEditMode(i)"></button>
            <button class="ti-trash btn btn-danger" (click)="deleteSalle(i)"></button>
          </td>
          <td *ngIf="editSalles[i]" class="form-group">
            <input class="form-control border-input" name="salle" [(ngModel)]="salle.number" type="number">
          </td>
          <td *ngIf="editSalles[i]" class="form-group">
            <input class="form-control border-input" name="capacity" [(ngModel)]="salle.capacity" type="number">
          </td>
          <td *ngIf="editSalles[i]" class="form-group">
            <ng-select [items]="projectorAvailabilities"
                       bindLabel="label"
                       bindValue="has_projector"
                       [(ngModel)]="salle.has_projector"
                       name="type_salle">
            </ng-select>
          </td>
          <td *ngIf="editSalles[i]" class="form-group">
            <ng-select [items]="types"
                       bindLabel="label"
                       bindValue="id"
                       [(ngModel)]="salle.type_salle_id"
                       name="type_salle">
            </ng-select>
          </td>
          <td *ngIf="editSalles[i]">
            <button class="ti-check btn btn-success" style="margin-right: 10px;" (click)="editSalle(i)" [disabled]="invalidSalle(i)"></button>
            <button class="ti-close btn btn-danger" (click)="switchEditMode(i)"></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
